.navbar {
    background-color: rgb(190, 25, 25);
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100px;
}

.cart {
    height: 60px;
    margin: 30px;
}