body {
    background-color: ghostwhite;
}

button {
    background-color: wheat; 
    color: gray; 
    border: 3px groove red;
    border-radius: 8px;
    width: 200px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 4vw;
    margin-top: 2vh;
}

button:hover {
    background-color: #f38021;
    color: black;
}

.list {
    font-weight: 600;
    color: #f38021;
    margin-left: 4vw;
    
}

h2 {
    margin-left: 4vw;
    color: goldenrod;
    
}

select {
    margin-top: 5px;
    margin-bottom: 10px; 
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    height: 35px;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid;
}


input[type="text"], input[type="number"] {
    margin-top: 5px;
    margin-bottom: 10px; 
    width: 150px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    border: 2px solid;
}